.card {
  display: flex;
  flex-direction: row;
  width: 75%;
  overflow: hidden;
  padding: 5%;
  height: 1%;
  margin: 5%;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.2);
}
.lista {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 25em;
  margin-top: 10% !important;
  margin-bottom: 5%;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: aliceblue;
}
.imagem-item {
  margin: 10%;
}
.dados {
  min-width: 15em;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
