<div class="lista">
  <div class="item">
    <div
      *ngFor="let item of itens"
      class="card"
      (click)="detalharProduto(item.nome)"
    >
      <img [src]="item.imagem" width="80%" height="80%" class="imagem-item" />
      <div class="dados">
        <ul>
          <li class="descricao">{{ item.nome }}</li>
          <li>{{ item.descricao }}</li>
          <li *ngIf="isCarrinho">Quantidade: {{ item.quantidade }}</li>
          <li *ngIf="!isCarrinho">Disponível: {{ item.estoque }}</li>
          <li *ngIf="isCarrinho" class="preco">
            R$ {{ (item.valor * item.quantidade).toFixed(2) }}
          </li>
          <li *ngIf="!isCarrinho" class="preco">
            R$
            {{ item.valor }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
