<form [formGroup]="loginForm" (ngSubmit)="onLogin(isCriacao)">
  <div>
    <label for="usuario">Usuário: </label>
    <input id="usuario" type="text" formControlName="nome" />
  </div>
  <div>
    <label for="senha">Senha: </label>
    <input id="senha" type="text" formControlName="senha" />
  </div>
  <div *ngIf="isCriacao">
    <span>Já possui usuário?</span>
    <button type="button" (click)="isCriacao = false">Logar</button>
  </div>
  <div *ngIf="!isCriacao">
    <button type="button" (click)="isCriacao = true">Novo</button>
    <button type="submit">Entrar</button>
  </div>
  <button type="submit" *ngIf="isCriacao" (click)="onCriarUsuario()">
    Criar Usuário
  </button>
</form>
