<app-cabecalho></app-cabecalho>
<img
  *ngIf="!imagemURL"
  class="imagem"
  width="40%"
  src="assets/imagens/img.png"
/>
<img class="imagem" width="40%" [src]="imagemURL" />
<form
  enctype="multipart/form-data"
  class="cadastro"
  [formGroup]="formProduto"
  (ngSubmit)="salvarProduto()"
>
  <label for="nome">Nome:</label>
  <input maxlength="50" id="nome" formControlName="nome" />
  <label for="descricao">Descricão:</label>
  <textarea
    maxlength="200"
    type="text"
    id="descricao"
    formControlName="descricao"
  ></textarea>
  <label for="valor">Preço:</label>
  <input max="9999" id="preco" formControlName="valor" />
  <label for="estoque">Estoque:</label>
  <input max="999" id="estoque" formControlName="estoque" />
  <label for="imagem">Imagem:</label>
  <input
    (change)="fileInput($event.target.files)"
    accept="image/*"
    type="file"
    id="imagem"
    formControlName="imagem"
  />
  <button class="salvar-botao" type="submit">Salvar</button>
</form>
