<div>
  <img
    (click)="tratarMenu()"
    class="icon-menu"
    width="7%"
    src="assets/imagens/menu.png"
  />
  <form [formGroup]="pesquisaForm" (ngSubmit)="onPesquisar()">
    <input formControlName="pesquisa" />
    <button class="search" type="submit">
      <img width="110%" src="assets/imagens/search.png" />
    </button>
  </form>
  <img
    *ngIf="carrinho"
    (click)="botaoCarrinho()"
    class="carrinho-icon"
    width="9%"
    src="https://www.promocaooficinadossonhos.com.br/assets/images/icons/shopping-cart-bosch-white.png"
  />
  <div class="menu" *ngIf="menuVisivel">
    <ul>
      <li class="user-fixed">
        <img
          width="20px"
          src="https://icon-library.com/images/profile-icon-white/profile-icon-white-6.jpg"
        />{{ usuario }}
      </li>
      <li>Itens mais vendidos</li>
      <li>Categorias</li>
      <li (click)="direcionarCadastro()" *ngIf="isAdmin">
        Cadastro de Produtos
      </li>
      <li (click)="logOut()">Sair</li>
    </ul>
  </div>
  <img
    class="logo"
    (click)="botaoHome()"
    width="14%"
    src="https://i.imgur.com/XCLaqk8.png"
    title="Home"
  />
</div>
