.icon-menu {
  position: fixed;
  top: 1%;
  left: 1%;
  cursor: pointer;
  z-index: 9999;
}
.menu {
  width: 40%;
  margin: 1%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  border: solid 1px;
  border-color: aliceblue;
  cursor: pointer;
  position: fixed;
  top: 6%;
  left: 1%;
}

.search {
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  top: 1%;
  right: 20%;
  width: 7%;
  height: 4.5%;
}

.carrinho-icon {
  cursor: pointer;
  position: fixed;
  top: -0.5%;
  right: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  min-width: 90%;
  border: solid 1px;
  border-color: aliceblue;
  border-radius: 10px;
  min-width: 90%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 5%;
  background-color: rgb(32, 33, 36);
}

li:hover {
  min-width: 90%;
  border: solid 1px;
  border-color: black;
  color: black;
  background-color: aliceblue;
}

input {
  border-radius: 10px;
  outline: none;
  height: 3.5%;
  width: 50%;
  position: fixed;
  left: 20%;
}
.user-fixed {
  border-radius: 0px;
  cursor: default;
  border: solid 1px;
  border-color: aliceblue;
  min-width: 90%;
  margin-right: 10%;
  padding: 5%;
  background-color: rgb(32, 33, 36);
}
.user-fixed:hover {
  border-radius: 0px;
  color: rgba(211, 211, 211, 0.884);
  cursor: default;
  border: solid 1px;
  border-color: aliceblue;

  margin-right: 10%;
  margin-top: 10%;
  padding: 5%;
  background-color: rgb(32, 33, 36);
}
