.body{
    display: flex;
    align-items:center;
    height: 800px;
    justify-content: center;
    background-color: rgb(32, 33, 36);
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    color: rgba(211, 211, 211, 0.884);
    font-size: 17px;
}

.x {
    width: 100%;
}

/** TELA DE LOGIN **/ 

.form-login-login{
    display: flex;
    flex-direction: column;
}

.div-usuario-login {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.div-senha-login {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.div-senha-validacao-login {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.div-login-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
}

.div-buttons-login {  
    display: flex;
    justify-content: space-between;
}

/**
.label-usuario-login {

}

.label-senha-login {

}
**/

.input-usuario-login {
    width: 99%;
    border-style: unset;
    background-color: rgba(211, 211, 211, 0.884);
    border-radius: 3px;
    height: 22px;
    font-size: 16px;
}

.input-senha-login {
    width: 99%;
    border-style: unset;
    background-color: rgba(211, 211, 211, 0.884);
    border-radius: 3px;
    height: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.button-login-login {
    background-color: transparent;
    font-size: small;
    border-style: unset;
    color: rgba(143, 171, 209, 0.884);
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
}

.button-register-login {
    width: 50%;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: large;
    border-style:unset;
    border-radius: 3px;
    background-color: #4a4a4a;
    color: rgba(211, 211, 211, 0.884);
}

.button-entrar-login {
    width: 30%;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: large;
    border-style:unset;
    border-radius: 3px;
    background-color: #4a4a4a;
    color: rgba(211, 211, 211, 0.884);
}

.button-voltar-login {
    width: 30%;
    font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
    font-size: large;
    border-style:unset;
    border-radius: 3px;
    background-color: #4a4a4a;
    color: rgba(211, 211, 211, 0.884);
}

/** TELA A SER PROJETADA **/ 